---
- name: Build backup reporter list with defaults + executable
  ansible.builtin.set_fact:
    backup_reporter_list: >-
      {{ backup_reporter_list + [ backup_reporter_defaults
        | combine(item) | combine({
          'executable': (
            '/usr/bin/docker run --rm --name tmp-backup-reporter-' ~ lookup('pipe', 'uuidgen')
            ~ ' -v ' ~ backup_reporter_config_dir ~ ':' ~ backup_reporter_config_dir ~ ':ro '
            ~ '-v ' ~ item.backups_dir | default(backup_reporter_backups_dir) ~ ':' ~ item.backups_dir | default(backup_reporter_backups_dir) ~ ':ro '
            ~ backup_reporter_docker_image
          ) if backup_reporter_docker_image != '' else '/opt/backup_reporter/bin/backup-reporter'
        })
      ] }}
  loop: "{{ backup_reporters }}"
  tags:
    - always

- name: Ensure config directory
  ansible.builtin.file:
    path: "{{ backup_reporter_config_dir }}"
    state: directory
    mode: '0755'

- name: Set google credentials json
  ansible.builtin.copy:
    dest: "{{ backup_reporter_config_dir }}/google_creds_{{ item.config_name }}"
    content: "{{ item.google_spreadsheet_credentials }}"
    mode: '0700'
  loop: "{{ backup_reporter_list }}"
  when: backup_reporter_list | length > 0

- name: Render backup reporter config
  ansible.builtin.template:
    src: backup_reporter.j2
    dest: "{{ backup_reporter_config_dir }}/{{ item.config_name }}"
    mode: '0700'
  loop: "{{ backup_reporter_list }}"
  when: backup_reporter_list | length > 0

- name: Self-hosted installation
  when: backup_reporter_docker_image == ''
  block:
    - name: Ensure pip is installed
      ansible.builtin.package:
        name:
          - python3-pip
          - python3-venv
          - python3-virtualenv
        state: present

    - name: Ensure pip3 is latest version and required packages installed
      ansible.builtin.pip:
        executable: pip3
        name: pip
        state: latest

    - name: Ensure virtualenv
      ansible.builtin.shell:
        cmd: "{{ backup_reporter_python_executable }} -m venv backup_reporter"
      args:
        chdir: "/opt"
        creates: "/opt/backup_reporter"

    - name: Ensure backup-reporter python package
      ansible.builtin.pip:
        virtualenv: "/opt/backup_reporter"
        name: backup-reporter
        state: latest

- name: Set daily cron-job with reporter
  ansible.builtin.cron:
    name: "Backup report {{ item.config_name }}"
    minute: "{{ item.crontab.minute }}"
    hour: "{{ item.crontab.hour }}"
    job: "{{ item.executable }} --config {{ backup_reporter_config_dir }}/{{ item.config_name }}"
  loop: "{{ backup_reporter_list }}"
  when: backup_reporter_list | length > 0

- name: Explicitly run report command
  ansible.builtin.shell:
    cmd: "{{ item.executable }} --config {{ backup_reporter_config_dir }}/{{ item.config_name }}"
  loop: "{{ backup_reporter_list }}"
  when: backup_reporter_list | length > 0
  tags:
    - never
    - report
